In [7]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [8]:
df= pd.read_csv("C:/Users/Vijay Rathod/Downloads/BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
#Assume Null Hypothesis as Ho: Male-female buyer rations are similar across regions.
#Alternate Hypothesis as Ha: Male-female buyer rations are NOT similar across regions.

In [9]:
df1=df.drop('Observed Values',axis=1)
df1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [12]:
p=stats.chi2_contingency(df1)
p

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
p_value=p[1]

0.6603094907091882

In [15]:
alpha=0.05

In [16]:
if p_value<=alpha:
     print("Reject Null hypothesis")
else:
    print("Null hypothesis holds true")

Null hypothesis holds true

In [ ]:
 there are Male-female buyer rations are similar across regions.